.header{
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(213, 211, 211);
  box-shadow: 1px 2px 5px rgb(0,0,0,.05);

  z-index: 100;
}

.left-section{
  margin-left: 20px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu{
  height: 25px;
  cursor: pointer;
}
.youtube-logo{
  height: 20px;
  cursor: pointer;
}
.middle-section{
  flex: 1;
  margin-left: 70px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.search-button{
  height: 38px;
  width: 70px;
  /* margin-left: -1px; */
  border-style: solid;
  border-width: 1px;
  border-color: rgb(215, 214, 214);
  border-radius: 2px;

}
.search-button,.voice-search-button,.upload-icon-container,.youtube-apps-icon-container,.notification-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.search-button .tooltip,.voice-search-button .tooltip,.upload-icon-container .tooltip,.youtube-apps-icon-container .tooltip,.notification-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  padding: 7px;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  opacity: 0;
  top:50px;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,.voice-search-button:hover .tooltip,.upload-icon-container:hover .tooltip,.youtube-apps-icon-container:hover .tooltip,.notification-icon-container:hover .tooltip{
  opacity: 1;
  transition: opacity .15s;
}
.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
}
.search-bar{
  border-color: rgb(215, 214, 214);
  height: 34px;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,.05);
  margin-right: -1px;
  z-index: 1;
  width: 0;
}
.search-bar:focus{
  border-width: 1px;
  border-color: darkblue;
  outline: none;
}
.search-bar::placeholder{
  font-size: 16px;
  font-family: Roboto,Arial;
}
.search-icon{
  height: 25px;
}
.voice-search-icon{
  height: 25px;
}
.right-section{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;
  flex-shrink: 0;
}
.youtube-apps-icon{
  height: 25px;
}
.upload-icon{
  height: 25px;
}
.notification-icon{
  height: 25px;
}
.notification-icon-container{
    position: relative;
}
.notifications-count{
  position: absolute;
  top:-2px;
  right: -2px;
  color: white;
  background-color: rgb(199, 2, 2);

  border-radius: 15px;

  font-family: Roboto, Arial;
  font-size: 9.5px;
  font-weight: 500;

  padding: 2px 5px;
}
.profile-picture{
  height: 34px;
  border-radius: 17;
  cursor: pointer;
}

