.side-bar{
  position: fixed;
  top: 54px;
  bottom: 0;
  left: 0;
  width: 70px;
  background-color: white;
  border-right-width: 1px;
  border-right-color: rgb(244, 243, 243);
  border-right-style: solid;
  box-shadow: 2px 1px 5px rgba(0,0,0,.05);
  z-index: 200;
  padding-top: 20px;
}

.sidebar-link{
  height: 78px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-link img {
  height: 25px;
}
.sidebar-link div {
  font-family: Roboto,Arial;
  font-size: 10px;
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}