 .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap: 40px;

      }
      .video-thumbnails{
        width: 100%;
      }

      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
      }
      .channel-img{
        width: 40px;
        border-radius: 50px;
      }
      .video-title{
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 12px;
      }
      .thumbnail-row{
        margin-bottom: 10px;
        position: relative;
      }
      .thumbnail-time{
        position: absolute;
        bottom: 15px;
        right: 10px;
        background-color: black;
        color: white;

        font-family: Roboto,Arial;
        font-size: 12px;
        font-weight: 500;

        padding: 4px;
        border-radius: 2px;
      }
      .video-author,.video-stats{
        font-size: 12px;
        color: rgb(96, 96, 96);
      }
      .video-author{
        margin-bottom: 4px;
      }