.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;

  background-color: white;
  padding-left: 20px;

  border-bottom: 1px solid rgb(215, 214, 214);
  box-shadow: 2px 2px 5px rgba(0,0,0,.05);

  padding-right: 20px;
}
.left-section{
  width: 150px;
}
.hamburger-menu{
  height: 25px;
  margin-right: 20px;
  cursor: pointer;
}
.youtube-logo{
  height: 20px;
  cursor: pointer;
}
.middle-section{
  display: flex;
  justify-content: center;
  align-items: center;
 flex: 1;

 max-width: 500px;

 margin-left: 50px;
 margin-right: 30px;
}
.search-bar{
  height: 35px;
  flex: 1;
  width: 0;

  border-radius: 2px;
  border: solid 1px rgb(195, 193, 193);
  box-shadow: inset 2px 2px 5px rgba(0,0,0,.05);
  font-size: 16px;
  padding-left: 10px;
  z-index: 1;

}
.search-bar:focus{
  border: solid 1px blue;
  outline: none;

}

.search-icon{
  height: 25px;
}
.search-button{
  margin-left: -2px;
  width: 60px;
  height: 39px;
  border: solid 1px rgb(195, 193, 193);
  border-radius: 2px;
  cursor: pointer;

}
.voice-search-icon{
 height: 25px;
}
.btn-voice-search-icon{
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;

}
.right-section{
  display: flex;
  justify-content: space-between;
 width: 200px;
}
.upload-icon,.youtube-app-icon,.notifications-icon{
  height: 25px;
  cursor: pointer;
}
.notification-container{
  position: relative;
}
.notification-count-container{
  /* padding-left: 4px; */
}
.notification-count{
  position: absolute;
  top: -1px;
  right: -1px;

  background-color:  rgb(193, 3, 3);
  color: white;
  font-size: 10px;
  height: 14px;
  width: 14px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}
.profile-icon{
  height: 30px;
}
.search-button,.btn-voice-search-icon,.notification-container,.upload-icon-container,.youtube-app-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
   position: relative;
   cursor: pointer;
}
.search-button .tooltip,.btn-voice-search-icon .tooltip,.notification-container .tooltip,.upload-icon-container .tooltip,.youtube-app-icon-container .tooltip{
  position: absolute;
  top:50px;
  background-color: gray;
  color: white;
  font-size: 12px;
  padding: 8px 10px;
  border-radius: 2px;
  opacity: 0;
  white-space: nowrap;
}
.search-button:hover .tooltip,.btn-voice-search-icon:hover .tooltip,.notification-container:hover .tooltip,.upload-icon-container:hover .tooltip,.youtube-app-icon-container:hover .tooltip{
  opacity: 1;
}






.side-bar{
  position: fixed;
  left: 0;
  top:55px;
  bottom: 0;
  width: 70px;

  background-color: white;

  border-right: 1px solid rgb(244, 244, 244);
  box-shadow: 2px 2px 5px rgba(0,0,0,.05);

}
.side-bar-link{
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.side-bar div:hover{
  background-color: rgb(229, 226, 226);
}
.side-bar img{
  height: 25px;
}
.side-bar div div{
  font-size: 10px;
}